.modal_footer {
  display: flex;
  gap: 0.5rem;
  .btn {
    flex: 1;
  }
}
.icon {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.blue {
  background-color: #e9f5ff;
}
.red {
  background-color: #fdedef;
}
.yellow {
  background-color: #fff1e1;
}
.green {
  background-color: #f3fef2;
}
.btn__no {
  opacity: 0.8 !important;
  &:hover {
    border-color: #ccc !important;
    color: black !important;
    opacity: 1 !important;
  }
}
.btn__yes {
  opacity: 0.8 !important;
  &:hover {
    opacity: 1 !important;
  }
}
.btn__yes.btn-blue {
  border-color: #1677ff;
  color: #1677ff;
  opacity: 0.8 !important;

  &:hover {
    opacity: 1 !important;
    border-color: #006aff !important;
    color: #006aff !important;
  }
}

.btn__yes.btn-red {
  border-color: #b71226;
  color: #b71226;

  &:hover {
    border-color: #c90b21 !important;
    color: #c90b21 !important;
  }
}
.btn__yes.btn-yellow {
  border-color: #f58220;
  color: #f58220;

  &:hover {
    border-color: #f77a0d !important;
    color: #f77a0d !important;
  }
}
.btn__yes.btn-green {
  border-color: #12b76a;
  color: #12b76a;

  &:hover {
    border-color: #08c76e !important;
    color: #08c76e !important;
  }
}

.message {
  text-align: center;
  margin: 2rem 0;
  font-size: 1rem;
  font-weight: 600;
}
