.form_modal_content {
  :global {
    .ant-form-item-label {
      width: 10rem !important;
      text-align: start !important;
      .ant-form-item-required {
        &::before {
          display: none !important;
        }
        &::after {
          content: "*";
          color: red;
        }
      }
    }
  }
  .form_modal_content_editor > div {
    display: block;
  }
  .form_modal_content_editor label {
    margin-bottom: 1rem;
  }
}
