.user_container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 8px;
  background-color: #eff4fb;
  &:hover {
    opacity: 0.8;
  }
}

.dropdown_container {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden !important;
  width: 20rem;
  padding: 0.5rem 0.5rem;
  border-radius: 8px;
  background-color: #fff;
  overflow-y: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  p {
    margin: 0;
  }
  .label_wrapper {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 1rem;
    border-radius: 8px;
    transition: all 100ms linear;
    &:hover {
      color: #156feb;
      svg {
        filter: invert(30%) sepia(38%) saturate(4784%) hue-rotate(207deg)
          brightness(97%) contrast(90%);
      }
      background-color: #eff4fb;
    }
  }
  .chervon {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  .logout {
    position: relative;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 1rem;
    transition: all 100ms linear;
    border-radius: 8px;
    &:hover {
      color: #156feb;
      svg {
        filter: invert(30%) sepia(38%) saturate(4784%) hue-rotate(207deg)
          brightness(97%) contrast(90%);
      }
      background-color: #eff4fb;
    }
    &::before {
      position: absolute;
      content: "";
      top: -0.5rem;
      left: 0;
      width: 100%;
      border-top: 1px dashed rgb(216, 216, 216);
    }
  }
}

.display_setting {
  height: 16rem;
}
