.notify {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 100%;
  background-color: var(--background-selected);
  &:hover {
    opacity: 0.8;
  }
}
