.container {
  min-height: 3.5rem;
  width: 100%;
  display: flex;
  .header {
    height: 3.5rem;
    width: 100%;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
      rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  }
  .header_title {
    margin: 0;
    font-size: 1.25rem;
  }
  .header_menu {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.block {
  display: block;
}
.hidden {
  display: none;
}

.notify {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 100%;
  background-color: #eff4fb;
  &:hover {
    opacity: 0.8;
  }
}
.mode {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 2.25rem;
  height: 2.25rem;
  &:hover {
    opacity: 0.8;
  }
}
.user_container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 8px;
  background-color: rgb(252, 176, 84);
  &:hover {
    opacity: 0.8;
  }
}
.dropdown_container {
  width: 14rem;
  padding: 0.5rem 0.5rem;
  border-radius: 8px;
  background-color: #fff;
  max-height: 500px;
  overflow-y: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  p {
    margin: 0;
  }
  .label_wrapper {
    padding: 0.5rem 1rem;
  }
  .logout {
    padding: 0.5rem 1rem;
    border-top: 1px dashed rgb(216, 216, 216);
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 1rem;
  }
}
