@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: var(--text-dark);
  line-height: 1.6;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-color:#ea580c;
  --text-primary: #333;
  --text-secondary: #ea580c;
  --text-hover: #ea580c;

  --background: #fff;
  --background-secondary: #fff7ed ;
  --background-item: #ffedd5;
  --background-selected: #ffedd5;
  --background-selected-2: #ffedd5;

  --border-primary: #ced0d4;

  --scroll-bar-color: #555;
  --scroll-bar-bg: white;
}

.dark {
  --text-primary: #fff;
  --text-secondary: #fff;
  --text-hover: #fff;

  --background: #242526;
  --background-secondary: #18191a;
  --background-item: #112545;
  --background-selected: #555;
  --background-selected-2: #555;

  --border-primary: #3e4042;

  --scroll-bar-color: rgb(204, 204, 204);
  --scroll-bar-bg: rgba(0, 0, 0, 0.8);
}

.ant-menu-item-selected,
.ant-menu-submenu-selected {
  background-color: var(--background-selected) !important;
}

.ant-menu.ant-menu-sub.ant-menu-vertical {
  margin-left: 0.625rem !important;
}
.ant-menu-root.ant-menu-inline {
  border-inline-end: none !important;
}
.ant-pagination {
  margin: 1rem !important;
}

.ant-table-body {
  height: calc(100vh - 56px - 8px - 64px - 54px - 8px - 64px - 2px) !important;
  max-height: calc(
    100vh - 56px - 8px - 64px - 54px - 8px - 64px - 2px
  ) !important;
}

.ant-form {
  .ant-form-item-label {
    text-align: start !important;
    .ant-form-item-required {
      &::before {
        display: none !important;
      }
      &::after {
        content: "*";
        color: red;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  scrollbar-color: #555 transparent;
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: padding-box;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-bg);
}

.limited-text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
}
